body {
	 background: #F2E9E4;
	 font-family: 'Arial';
}
 top {
	 float: left;
	 background: #4A4E69;
	 width: 100%;
	 padding: 2.5%;
	 height: 15vh;
	 color: #F2E9E4;
}
 #choosed_color{
	 color: #4A4E69;
	 background: F2E9E4;
	 font-size:120%;
	 width:50%;
}
 h1 {
	 font-size: 180%;
	 color: #F2E9E4;
	 float: left;
	 margin-left: 5%;
}
 h2 {
	 font-size: 140%;
	 color: #4A4E69;
	 float: left;
	 margin-left: 17%;
	 margin-top: 4%;
}
 h4 {
	 font-size: 180%;
	 color: #9A8C98;
	 float: left;
	 margin-left: 5%;
}
 #ready {
	 display: none;
	 margin-left: 20%;
}
 #next {
	 position:absolute;
	 margin-top:40%;
	 margin-left: -27%;
	 text-shadow: 0 1px rgba(255,255,255,.2), 0 -1px rgba(0,0,0,.8);
	 outline: none;
	 border: none;
	 border-radius: 100px;
	 background: rgb(74, 78, 105) radial-gradient(150% 100% at 50% 5px, rgba(255,255,255,.2), rgba(0,0,0,0));
	 color: #F2E9E4;
	 z-index: 100;
	 width: 15%;
	 height: 10%;
	 line-height: 1.2;
	 font-size: 140%;
	 text-shadow: 0 1px rgba(255,255,255,.2), 0 -1px rgba(0,0,0,.8);
	 display: none;
}
 #next:hover {
	 color: rgb(154, 140, 152);
	 cursor: pointer;
}
 #next:active {
	 padding-bottom: 1px;
	 box-shadow: inset rgba(0,0,0,1) 0 1px 3px, inset rgba(0,0,0,.6) 0 -2px 5px, inset rgba(252,255,255,.7) 0 2px 5px, 0 1px rgba(255,255,255,.08);
	 color: rgb(154, 140, 152);
}
 #my_progress{
	 position:absolute;
	 width:0%;
	 height:100%;
	 background-color:#4A4E69;
	 display:none;
	 margin-left:-63.5%;
	 border-radius: 100px;
	 z-index: 15;
}
 #my_bar{
	 position:absolute;
	 width:40%;
	 height:3%;
	 background-color:#9A8C98;
	 margin-left:-38%;
	 margin-top:18%;
	 display:none;
	 border-radius: 100px;
	 z-index: 10;
}
 #label{
	 color:white;
	 font-size: 120%;
	 display:none;
	 padding:1%;
	 z-index: 999999;
}
 #super {
	 display: none;
	 margin-left: 48%;
	 margin-top: 4%;
}
 #my_progress_str{
	 color:#9A8C98;
	 font-size: 140%;
	 width:20%;
	 height:10%;
}
 .color {
	 color:#F2E9E4;
	 margin-left: 5%;
	 margin-top: 5%;
	 background:#F2E9E4;
	 border-radius: 100px;
	 font-size: 140%;
}
 aside {
	 float: left;
	 background: #9A8C98;
	 width: 20%;
	 padding: 2.5%;
	 height: 150vh;
	 color: #F2E9E4;
}
 aside img {
	 width: 80px;
	 float: left;
}
 top .logo {
	 font-size: 250%;
	 font-weight: bold;
	 position: relative;
	 top: -5%;
}
 aside h3 {
	 margin-top: 50px;
	 font-size: 28px;
}
 aside ul {
	 list-style: none;
	 color: #F2E9E4;
}
 aside ul li {
	 color: #F2E9E4;
	 display: block;
	 font-size: 125%;
	 margin-top: 20px;
	 transition: transform .6s ease;
}
 aside ul li:hover, aside ul a:hover {
	 color: #4A4E69;
	 text-decoration: none;
	 transform: scale(1.6);
}
 main .features {
	 float: left;
	 color: #000;
	 margin-top: 10px;
	 text-align: center;
	 width: 75%;
}
 main .about {
	 float: left;
	 font-size: 110%;
	 color: #4A4E69;
	 margin-top: 3%;
	 text-align: center;
	 width: 60%;
	 margin-left:10%;
}
 main .left_form{
	 float: left;
	 padding: 5%;
	 position: absolute;
	 margin-top:15%;
	 margin-left:30%;
	 width:50%;
}
 main .right_form{
	 float: right;
	 padding: 5%;
	 position: absolute;
	 margin-top:17%;
	 margin-left:60%;
}
 #start_button {
	 position: absolute;
	 margin-left:-100%;
	 margin-top:80%;
	 width: 40%;
	 height: 20%;
	 font-size: 150%;
	 background: #9A8C98;
	 text-shadow: 0 1px rgba(255,255,255,.2), 0 -1px rgba(0,0,0,.8);
	 border: none;
}
 #start_button:hover {
	 color: rgb(74, 78, 105);
	 cursor: pointer;
}
 #start_button:active {
	 padding-bottom: 1px;
	 box-shadow: inset rgba(0,0,0,1) 0 1px 3px, inset rgba(0,0,0,.6) 0 -2px 5px, inset rgba(252,255,255,.7) 0 2px 5px, 0 1px rgba(255,255,255,.08);
	 color: rgb(74, 78, 105);
}
 #go_button {
	 position: absolute;
	 margin-left:-19%;
	 margin-top:5%;
	 width: 12%;
	 height: 5%;
	 font-size: 120%;
	 color: #F2E9E4;
	 background: #9A8C98;
	 text-shadow: 0 1px rgba(255,255,255,.2), 0 -1px rgba(0,0,0,.8);
	 border: none;
}
 #go_button:hover {
	 color: rgb(74, 78, 105);
	 cursor: pointer;
}
 #go_button:active {
	 padding-bottom: 1px;
	 box-shadow: inset rgba(0,0,0,1) 0 1px 3px, inset rgba(0,0,0,.6) 0 -2px 5px, inset rgba(252,255,255,.7) 0 2px 5px, 0 1px rgba(255,255,255,.08);
	 color: rgb(74, 78, 105);
}
/*CIRCLES*/
 main #circle_main {
	 position: absolute;
	 display: none;
	 width: 60px;
	 height: 60px;
	 margin-left: 58%;
	 margin-top: 37%;
	 border: 1px solid #e3e6e6;
	 -webkit-border-radius: 50%;
}
 main #circle_up_1 {
	 position: absolute;
	 display: none;
	 width: 60px;
	 height: 60px;
	 margin-left: 58%;
	 margin-top: 31%;
	 border: 1px solid #e3e6e6;
	 -webkit-border-radius: 50%;
}
 main #circle_down_1 {
	 position: absolute;
	 display: none;
	 width: 60px;
	 height: 60px;
	 margin-left: 58%;
	 margin-top: 43%;
	 border: 1px solid #e3e6e6;
	 -webkit-border-radius: 50%;
}
 main #circle_left_up_1 {
	 position: absolute;
	 display: none;
	 width: 60px;
	 height: 60px;
	 margin-left: 52.5%;
	 margin-top: 34.6%;
	 border: 1px solid #e3e6e6;
	 -webkit-border-radius: 50%;
}
 main #circle_right_up_1 {
	 position: absolute;
	 display: none;
	 width: 60px;
	 height: 60px;
	 margin-left: 63.5%;
	 margin-top: 34.6%;
	 border: 1px solid #e3e6e6;
	 -webkit-border-radius: 50%;
}
 main #circle_left_down_1 {
	 position: absolute;
	 display: none;
	 width: 60px;
	 height: 60px;
	 margin-left: 52.5%;
	 margin-top: 39.4%;
	 border: 1px solid #e3e6e6;
	 -webkit-border-radius: 50%;
}
 main #circle_right_down_1 {
	 position: absolute;
	 display: none;
	 width: 60px;
	 height: 60px;
	 margin-left: 63.5%;
	 margin-top: 39.4%;
	 border: 1px solid #e3e6e6;
	 -webkit-border-radius: 50%;
}
 main #circle_up_2 {
	 position: absolute;
	 display: none;
	 width: 60px;
	 height: 60px;
	 margin-left: 58%;
	 margin-top: 25%;
	 border: 1px solid #e3e6e6;
	 -webkit-border-radius: 50%;
}
 main #circle_down_2 {
	 position: absolute;
	 display: none;
	 width: 60px;
	 height: 60px;
	 margin-left: 58%;
	 margin-top: 49%;
	 border: 1px solid #e3e6e6;
	 -webkit-border-radius: 50%;
}
 main #circle_left_up_2 {
	 position: absolute;
	 display: none;
	 width: 60px;
	 height: 60px;
	 margin-left: 47%;
	 margin-top: 32.2%;
	 border: 1px solid #e3e6e6;
	 -webkit-border-radius: 50%;
}
 main #circle_right_up_2 {
	 position: absolute;
	 display: none;
	 width: 60px;
	 height: 60px;
	 margin-left: 69%;
	 margin-top: 32.2%;
	 border: 1px solid #e3e6e6;
	 -webkit-border-radius: 50%;
}
 main #circle_left_down_2 {
	 position: absolute;
	 display: none;
	 width: 60px;
	 height: 60px;
	 margin-left: 47%;
	 margin-top: 41.8%;
	 border: 1px solid #e3e6e6;
	 -webkit-border-radius: 50%;
}
 main #circle_right_down_2 {
	 position: absolute;
	 display: none;
	 width: 60px;
	 height: 60px;
	 margin-left: 69%;
	 margin-top: 41.8%;
	 border: 1px solid #e3e6e6;
	 -webkit-border-radius: 50%;
}
 text_result {
	 font-size: 160%;
	 color: #4A4E69;
	 float: left;
	 margin-top: 4%;
	 text-align: left;
}
 #img_wait {
	 opacity: 1;
	 width: 30%;
	 height: 55%;
	 position: absolute;
	 margin-left: -35%;
	 margin-top: 25%;
	 box-shadow: inset 0 0 20px 8px rgba(0,0,0,.6);
}
 #end {
	 margin-left: 27%;
	 margin-top: 10%;
	 font-size: 190%;
	 display:none;
}
/* Под разные экраны*/
/* Телефон маленький - iphone12 mini, iphone4-5*/
 @media(max-width:480px) {
	 aside {
		 display: none;
	}
	 top .logo{
		 font-size: 150%;
	}
	 .dropdown{
		 display: inline-block;
		 position: absolute;
		 margin-left:-12%;
		 margin-top:18%;
	}
	 .dropdown-label{
		 position: absolute;
		 cursor: pointer;
		 color:#F2E9E4;
	}
	 .dropdown-menu{
		 display: none;
		 position: relative;
		 margin-left:-102%;
		 margin-top:25%;
		 background: #4A4E69;
	}
	 .dropdown:hover .dropdown-menu{
		 display: block;
	}
	 .submenu{
		 padding:0;
		 margin: 0;
		 list-style-type: none;
	}
	 .submenu > li > a{
		 display: block;
		 padding: 0.4em 1.5em;
		 background-color: #4A4E69;
	}
	 .submenu > li > a:hover{
		 background-color: #4A4E69;
	}
	 main .left_form{
		 margin-top: 40%;
		 width:70%;
		 margin-left: 10%;
	}
	 main .right_form{
		 margin-top: 105%;
		 margin-left: 10%;
		 width:68%;
	}
	 main .about {
		 float: left;
		 font-size: 120%;
		 color: #4A4E69;
		 margin-top: 3%;
		 text-align: center;
		 width: 95%;
		 margin-left:4%;
	}
	 #start_button {
		 position: absolute;
		 margin-left:-50%;
		 margin-top:66%;
		 width: 40%;
		 height: 20%;
		 font-size: 130%;
		 background: #9A8C98;
		 text-shadow: 0 1px rgba(255,255,255,.2), 0 -1px rgba(0,0,0,.8);
		 border: none;
	}
	 #img_wait {
		 opacity: 1;
		 width: 40%;
		 height: 30%;
		 position: absolute;
		 margin-left: -60%;
		 margin-top: 90%;
		 box-shadow: inset 0 0 20px 8px rgba(0,0,0,.6);
	}
	 text_result {
		 font-size: 120%;
		 color: #4A4E69;
		 float: left;
		 margin-top: 4%;
		 margin-left: 4%;
		 text-align: left;
	}
	 main #circle_main {
		 margin-left: 42%;
		 margin-top: 105%;
	}
	 main #circle_up_1 {
		 margin-left: 42%;
		 margin-top: 85%;
	}
	 main #circle_down_1 {
		 margin-left: 42%;
		 margin-top: 125%;
	}
	 main #circle_left_up_1 {
		 margin-left: 24%;
		 margin-top: 94%;
	}
	 main #circle_right_up_1 {
		 margin-left: 60%;
		 margin-top: 94%;
	}
	 main #circle_left_down_1 {
		 margin-left: 24%;
		 margin-top: 116%;
	}
	 main #circle_right_down_1 {
		 margin-left: 60%;
		 margin-top: 116%;
	}
	 main #circle_up_2 {
		 margin-left: 42%;
		 margin-top: 65%;
	}
	 main #circle_down_2 {
		 margin-left: 42%;
		 margin-top: 145%;
	}
	 main #circle_left_up_2 {
		 margin-left: 11%;
		 margin-top: 80%;
	}
	 main #circle_right_up_2 {
		 margin-left: 73%;
		 margin-top: 80%;
	}
	 main #circle_left_down_2 {
		 margin-left: 11%;
		 margin-top: 130%;
	}
	 main #circle_right_down_2 {
		 margin-left: 73%;
		 margin-top: 130%;
	}
	 #ready {
		 font-size:110%;
		 margin-left: 2%;
		 width: 130%;
	}
	 #choosed_color{
		 font-size:110%;
		 width:125%;
		 margin-left: 5%;
		 margin-top: 2%;
	}
	 #my_progress{
		 margin-left:-95.5%;
		 border-radius: 0px;
	}
	 #my_bar{
		 width:40%;
		 height:5%;
		 margin-left:-40%;
		 border-radius: 0px;
	}
	 #label{
		 font-size: 110%;
	}
	 #super {
		 display: none;
		 margin-left: 48%;
		 margin-top: 4%;
	}
	 #my_progress_str{
		 color:#9A8C98;
		 font-size: 140%;
		 width:20%;
		 height:10%;
	}
	 #next {
		 position:absolute;
		 margin-top:60%;
		 margin-left: -45%;
		 width: 50%;
		 height: 10%;
		 font-size: 120%;
	}
}

/*Перевернутый телефон или небольшой планшет*/
 @media(min-width:480px) and (max-width:800px){
 .aside_mob {
		 display:none;
	}
  aside {
	 height: 255vh;
}
	 top .logo{
		 font-size: 120%;
	}
	 top {
		 height: 17vh;
	}
	 main .left_form{
		 margin-top: 5%;
		 margin-left: 25%
	}
	 main .right_form{
		 margin-top: 75%;
		 margin-left: 25%
	}
	#img_wait {
		 opacity: 1;
		 width: 25%;
		 height: 60%;
		 position: absolute;
		 margin-left: -25%;
		 margin-top: 25%;
		 box-shadow: inset 0 0 20px 8px rgba(0,0,0,.6);
	}
	 text_result {
		 font-size: 120%;
		 color: #4A4E69;
		 float: left;
		 margin-top: 4%;
		 margin-left: 4%;
		 text-align: left;
	}
	#choosed_color{
		 font-size:110%;
		 width:100%;
		 margin-left: 5%;
		 margin-top: 2%;
	}
	 #my_progress{
		 margin-left:-72%;
		 border-radius: 100px;
	}
	 #my_bar{
		 width:40%;
		 height:10%;
		 margin-left:-40%;
		 border-radius: 100px;
	}
	 #label{
		 font-size: 110%;
	}
	#super {
		 display: none;
		 margin-left: 48%;
		 margin-top: 4%;
	}
	 #my_progress_str{
		 color:#9A8C98;
		 font-size: 140%;
		 width:20%;
		 height:10%;
	}
	 #next {
		 position:absolute;
		 margin-top:10%;
		 margin-left: -40%;
		 width: 40%;
		 height: 10%;
		 font-size: 120%;
	}
	main #circle_main {
		 margin-left: 60%;
		 margin-top: 50%;
	}
	 main #circle_up_1 {
		 margin-left: 60%;
		 margin-top: 40%;
	}
	 main #circle_down_1 {
		 margin-left: 60%;
		 margin-top: 60%;
	}
	 main #circle_left_up_1 {
		 margin-left: 50%;
		 margin-top: 43%;
	}
	 main #circle_right_up_1 {
		 margin-left: 70%;
		 margin-top: 43%;
	}
	 main #circle_left_down_1 {
		 margin-left: 50%;
		 margin-top: 57%;
	}
	 main #circle_right_down_1 {
		 margin-left: 70%;
		 margin-top: 57%;
	}
	 main #circle_up_2 {
		 margin-left: 60%;
		 margin-top: 30%;
	}
	 main #circle_down_2 {
		 margin-left: 60%;
		 margin-top: 70%;
	}
	 main #circle_left_up_2 {
		 margin-left: 40%;
		 margin-top: 35%;
	}
	 main #circle_right_up_2 {
		 margin-left: 80%;
		 margin-top: 35%;
	}
	 main #circle_left_down_2 {
		 margin-left: 40%;
		 margin-top: 65%;
	}
	 main #circle_right_down_2 {
		 margin-left: 80%;
		 margin-top: 65%;
	}
}
/*Планшет*/
 @media(min-width:768px) and (max-width:1024px){
 	 aside {
		 display: none;
	}
}

/*Перевернутый планшет*/
@media(min-width:1024px) and (max-width:1280px){
 .aside_mob {
		 display:none;
	}

main .left_form{
		 margin-top: 10%;
		 margin-left: 20%
	}
	 main .right_form{
		 margin-top: 10%;
		 margin-left: 57%
	}

	#img_wait {
		 width: 25%;
	}

	 #my_progress{
		 margin-left:-64.5%;
		 border-radius: 0px;
	}
	 #my_bar{
		 width:40%;
		 height:5%;
		 margin-left:-38%;
		 border-radius: 0px;
	}
	 #label{
		 font-size: 110%;
	}
	#super {
		 display: none;
		 margin-left: 48%;
		 margin-top: 4%;
	}

	 #next {
		 position:absolute;
		 margin-top:30%;
		 margin-left: -38%;
		 width: 40%;
		 height: 10%;
		 font-size: 120%;
	}
}



 @media(min-width:1024px) {
	 .aside_mob {
		 display:none;
	}
}
