{% extends 'base.html' %}
{% load static %}
{% block title %}Цветовое зрение{% endblock %}
<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
{% block content %}
<div class="about">
    <script
			  src="https://code.jquery.com/jquery-3.6.4.min.js"
			  integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
			  crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <p>Знаете ли вы, что мы называем цвета по их именам в течением тысячелетий, но единого и точного описания цветов в виде [название=Red-Green-Blue] до сих пор не существует? <br>
    Те именованные RGB-цвета, которые используются в браузерах и Фотошопе, были придуманы их создателяими умозрительно, чтоб хоть как-то назвать палитру. <br>

    С помощью данного исследования мы хотим протестировать возможность составления карты основных цветов русского языка с помощью сбора безличных данных и затем поиска зависимостей.<br>
    В дальнейшем такие исследования вы сможете проводить самостоятельно, инструкция появится на этой странице в июне.</p><br />
<p>
Как проходит исследование?<br>

1. Прочтите название цвета. <br>
2. Посмотрите на цветовые кружки на экране.<br> Если вы видите тот цвет, что был назван, прямо в середине, нажмите на него. <br>
3. Если "правильный" цвет в одном из соседних кружков, нажмите на него.<br> Этот кружок сместится в середину, а окружающие его цвета изменятся на ближайшие к нему. <br>
    Скажем, если вы решили, что нужный вам цвет "покраснее", то все новые варианты станут тоже покраснее на одно и то же значение канала R.</p><br />
    <a href="{% url 'home' %}" style="color: #4A4E69"><p><b>Чтобы начать, переходите на карту!</b> </p></a>
</div>
<script type="text/javascript" src="{% static '/main/js/script.js' %}"></script>


{% endblock %}
