{% extends 'base.html' %}

{% block title %}Цветовое зрение{% endblock %}


{% block content %}
<form method="post">
        {% csrf_token %}
<div class="left_form">
    <label>
            {{ form.age }}<br>
            {{ form.gender }}<br>
            {{ form.city }}<br>
    </label>
</div>
    <div class="right_form">
        <label>
        {{ form.profession }}<br>
        {{ form.daltonizm }}<br>
        </label>


        <button class="btn btn-primary" id="start_button">Начать!</button>
        <span>{{ error }}</span>
</div>
    </form>
{% endblock %}
