{% extends 'base.html' %}
{% load static %}
{% block title %}Цветовое зрение{% endblock %}
<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
{% block content %}
<form method="post">
    <script
			  src="https://code.jquery.com/jquery-3.6.4.min.js"
			  integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
			  crossorigin="anonymous"></script>
    <script src=" https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js "></script>
        {% csrf_token %}
<div class="left_form">
    <label>
            {{ form.age }}<br>
            {{ form.gender }}<br>
            {{ form.city }}<br>
    </label>
</div>
    <div class="right_form">
        <label>
        {{ form.profession }}<br>
        {{ form.daltonizm }}<br>
        </label>


        <button class="btn btn-primary" id="start_button">Начать!</button>
        <span>{{ error }}</span>
</div>
    </form>
<script type="text/javascript" src="{% static '/main/js/script.js' %}"></script>
{% endblock %}
