{% extends 'base.html' %}
{% load static %}
{% block title %}Цветовое зрение{% endblock %}
<link rel="stylesheet" href="{% static 'main/css/main.css' %}">
{% block content %}
<div class="features">
    <script
			  src="https://code.jquery.com/jquery-3.6.4.min.js"
			  integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
			  crossorigin="anonymous"></script>
    <script src=" https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js "></script>
    <button class ='color' id = 'choosed_color'>Выбрать цвет!</button>
    <h2 id="ready">Если считаете, что уже нашли цвет, нажмите на центральный круг </h2>
    <h2 id="super"> Прекрасно!</h2>
    <button class = 'next' id="next"> Определить еще цвета</button>
    <h2 id="end"> Вы определи все цвета! <br> Ваше цветовое зрение лучше чем у 95% людей!! <br> Возвращайтесь посмотреть на результаты в июне</h2>
    <div id="my_bar">
        <div id="label" style="position:relative;">Прогресс: 0%</div>
        <div id = "my_progress"></div>
    </div>
</div>


<div id="circle_main" class="circle_main"></div>
<div id="circle_up_1" class="circle_up_1"></div>
<div id="circle_down_1" class="circle_down_1"></div>
<div id="circle_left_up_1" class="circle_left_up_1"></div>
<div id="circle_right_up_1" class="circle_right_up_1"></div>
<div id="circle_left_down_1" class="circle_left_down_1"></div>
<div id="circle_right_down_1" class="circle_right_down_1"></div>
<div id="circle_up_2" class="circle_up_2"></div>
<div id="circle_down_2" class="circle_down_2"></div>
<div id="circle_left_up_2" class="circle_left_up_2"></div>
<div id="circle_right_up_2" class="circle_right_up_2"></div>
<div id="circle_left_down_2" class="circle_left_down_2"></div>
<div id="circle_right_down_2" class="circle_right_down_2"></div>
<script type="text/javascript" src="{% static '/main/js/script.js' %}"></script>


{% endblock %}
