{% extends 'base.html' %}

{% block title %}Цветовое зрение{% endblock %}

{% block content %}
<div class="features">
    <h1>Поехали</h1>
    <p>Поехали</p>
</div>

<div id="circle_main"></div>
<div id="circle_up_in"></div>
<div id="circle_down_in"></div>
<div id="circle_down_left_in"></div>
<div id="circle_up_left_in"></div>
<div id="circle_down_right_in"></div>
<div id="circle_up_right_in"></div>
<div id="circle_up"></div>
<div id="circle_down"></div>
<div id="circle_down_left"></div>
<div id="circle_up_left"></div>
<div id="circle_down_right"></div>
<div id="circle_up_right"></div>

{% endblock %}
